@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h1>Add a new book</h1>
<ul></ul>
@using (Html.BeginForm())
{
  <li>@Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)</li>

  <li>@Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)</li>

  <li>@Html.LabelFor(model => model.Genre)
  @Html.TextBoxFor(model => model.Genre)</li>

  <li>@Html.LabelFor(model => model.PublishDate)
  @Html.EditorFor(model => model.PublishDate)</li>

  <input type="submit", value="Add this book", class="btn btn-dark"/>
}